:root {
  --brand-color: #d41443;
  --light-brand-color: #ffa5ba;
  --background-color: #fff5f6;
  --white-background-color: #ffffff;
  --pink-background-color: #ffb8ca;
  --brown-background-color: #f0d1a5;
  --green-background-color: #c2e297;
  --dark-btn-hover: #c7133e;
  --light-btn-hover: #ecebeb;
  --alt-btn-color: #d41342;
  --dark-text-color: #000000;
  --light-text-color: #907e82;
  --white-text-color: #ffffff;
  --icon-color: #fea5bb;
  --separating-line-color: #e1e1e1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
  color: var(--light-brand-color);
}

.title {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.btn {
  border: none;
  border-radius: 22px;
  height: 44px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3px;
}

.btn_dark {
  background-color: var(--brand-color);
  color: var(--white-text-color);
}

.btn_dark:hover, .btn_dark:focus {
  background-color: var(--dark-btn-hover);
}

.btn_light {
  background-color: var(--white-text-color);
  color: var(--brand-color);
}

.btn_light:hover, .btn_light:focus {
  background-color: var(--light-btn-hover);
}

.footer {
  min-width: 320px;
  background-color: var(--background-color);
}

.footer__title {
  margin-bottom: 43px;
}

.footer__title .pre-title {
  margin-bottom: 17px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 46px;
}

.footer__icon {
  width: 32px;
  height: 32px;
  fill: var(--icon-color);
}

.footer__icon:hover, .footer__icon:focus {
  fill: var(--brand-color);
}

.footer__link-facebook,
.footer__link-telegram {
  margin-left: 28px;
}

.footer__kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
}

.footer__tel {
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: var(--brand-color);
}

.footer__tel-feature {
  color: var(--dark-text-color);
}

.container .footer__copyright {
  padding: 0;
}

.footer__copyright {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--separating-line-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--light-text-color);
}
/*# sourceMappingURL=main.css.map */