:root {
  --brand-color: #d41443;
  --light-brand-color: #ffa5ba;

  --background-color: #fff5f6;
  --white-background-color: #ffffff;
  --pink-background-color: #ffb8ca;
  --brown-background-color: #f0d1a5;
  --green-background-color: #c2e297;

  --dark-btn-hover: #c7133e;
  --light-btn-hover: #ecebeb;
  --alt-btn-color: #d41342;

  --dark-text-color: #000000;
  --light-text-color: #907e82;
  --white-text-color: #ffffff;

  --icon-color: #fea5bb;
  --separating-line-color: #e1e1e1;
  --slider--text-background-color: #fafafa;
  --pagination-bullet-color: #d9d9d9;
  --gradient-line: #e1e1e1;
}
