<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">our advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <span>
          <svg class="advantages__icons" width="34" height="50">
            <use href="./images/advantages-sprite.svg#icon-milk-ice1"></use>
          </svg>
        </span>

        <h3 class="advantages__label">721</h3>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span>
          <svg class="advantages__icons" width="50" height="50">
            <use href="./images/advantages-sprite.svg#icon-milk-ice2"></use>
          </svg>
        </span>
        <h3 class="advantages__label">16kg</h3>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span>
          <svg class="advantages__icons" width="50" height="50">
            <use href="./images/advantages-sprite.svg#icon-milk-ice3"></use>
          </svg>
        </span>
        <h3 class="advantages__label">84</h3>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
