<section class="contacts-section section" id=contacts >
    <div class="contacts__container container">
        <h2 class="visually-hidden">ice cream contacts</h2>
        <ul class="contacts__list list">
            <li class="contacts__card">
                <p class="contacts_title-board contacts_title-board-brown">cafe</p>
                <p class="contacts__title contacts_city">Chicago</p>
                <p class="contacts__title-text contacts__title-text-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contacts__title contacts__day-text">Monday - Friday</p>
                <p class="contacts__title contacts__time-text contacts__time-text-margin">06:00 AM - 10:00 PM</p>
                <p class="contacts__title contacts__day-text">Saturday - Sunday</p>
                <p class="contacts__title contacts__time-text contacts__title-text-border contacts__title-text-margin">08:00 AM - 16:00 PM</p>
                <div class="contacts__card-item-connect">
                        <ul class="contacts__connect list">
                            <li class="contacts__connect-item">
                                <a class="contacts__title-connect contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__connect-item">
                                <a class="contacts__title-connect contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
            </li>
            <li class="contacts__card">
                <p class="contacts_title-board contacts_title-board-green">foodtruck</p>
                <p class="contacts__title contacts_city">Los Angeles</p>
                <p class="contacts__title-text contacts__title-text-border">Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <p class="contacts__title contacts__day-text">Monday - Friday</p>
                <p class="contacts__title contacts__time-text contacts__time-text-margin">06:00 AM - 10:00 PM</p>
                <p class="contacts__title contacts__day-text">Saturday - Sunday</p>
                <p class="contacts__title contacts__time-text contacts__title-text-border contacts__title-text-margin">08:00 AM -
                    16:00 PM</p>
                <div class="contacts__card-item-connect">
                    <ul class="contacts__connect list">
                        <li class="contacts__connect-item">
                            <a class="contacts__title-connect contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__connect-item">
                            <a class="contacts__title-connect contacts__mail link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__card">
                <p class="contacts_title-board contacts_title-board-brown">cafe</p>
                <p class="contacts__title contacts_city">New York</p>
                <p class="contacts__title-text contacts__title-text-border">Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <p class="contacts__title contacts__day-text">Monday - Friday</p>
                <p class="contacts__title contacts__time-text contacts__time-text-margin">06:00 AM - 10:00 PM</p>
                <p class="contacts__title contacts__day-text">Saturday - Sunday</p>
                <p class="contacts__title contacts__time-text contacts__title-text-border contacts__title-text-margin">08:00 AM -
                    16:00 PM</p>
                <div class="contacts__card-item-connect">
                    <ul class="contacts__connect list">
                        <li class="contacts__connect-item">
                            <a class="contacts__title-connect contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__connect-item">
                            <a class="contacts__title-connect contacts__mail link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="contacts__btn list">
            <li class="contacts__btn-item">
                <button class="contacts__btn-location btn btn_dark" data-modal-open type="button">
                    Our Locations
                </button>
            </li>
            <li class="contacts__btn-item">
                <button class="contacts__btn-franchise btn btn_light" data-modal-open type="button">
                    Franchise
                </button>
            </li>
        </ul>    
    </div>
</section>
