<section class="contacts-section section" id=contacts >
    <div class="contacts__container container">
        <h2 class="visually-hidden">ice cream contacts</h2>
        <ul class="contacts__list list">
            <li class="contacts__card">
                <div class="contacts__card-wrap">
                    <div class="contacts_title-board contacts_title-board-brown">
                    <p class="contacts__category-title contacts__category-title-brownlist">cafe</p>
                </div>
                    <div class="contacts__card-item">
                        <h3 class="contacts__title contacts_city">Chicago</h3>
                        <p class="contacts__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>        
                    <div class="contacts__card-item">
                        <div class="contacts__weekdays-schedule">
                            <h3 class="contacts__title contacts__day-text">Monday - Friday</h3>
                            <p class="contacts__title contacts__time-text">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts__weekends-schedule">
                            <h3 class="contacts__title contacts__day-text">Saturday - Sunday</h3>
                            <p class="contacts__title contacts__time-text">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div class="contacts__card-item-connect">
                        <ul class="contacts__connect list">
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="contacts__card">
                <div class="contacts__card-wrap">
                    <div class="contacts_title-board contacts_title-board-green">
                    <p class="contacts__category-title list">foodtruck</p>
                    </div>
                    <div class="contacts__card-item">
                        <h3 class="contacts__title contacts_city">Los Angeles</h3>
                        <p class="contacts__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__card-item">
                        <div class="contacts__weekdays-schedule">
                            <h3 class="contacts__title contacts__day-text">Monday - Friday</h3>
                            <p class="contacts__title contacts__time-text">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts__weekends-schedule">
                            <h3 class="contacts__title contacts__day-text">Saturday - Sunday</h3>
                            <p class="contacts__title contacts__time-text">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div class="contacts__card-item-connect">
                        <ul class="contacts__connect list">
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="contacts__card">
                <div class="contacts__card-wrap">
                    <div class="contacts_title-board contacts_title-board-brown">
                    <p class="contacts__category-title list">cafe</p>
                    </div>
                    <div class="contacts__card-item">
                        <h3 class="contacts__title contacts_city">New York</h3>
                        <p class="contacts__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__card-item">
                        <div class="contacts__weekdays-schedule">
                            <h3 class="contacts__title contacts__day-text">Monday - Friday</h3>
                            <p class="contacts__title contacts__time-text">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts__weekends-schedule">
                            <h3 class="contacts__title contacts__day-text">Saturday - Sunday</h3>
                            <p class="contacts__title contacts__time-text">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div class="contacts__card-item-connect">
                        <ul class="contacts__connect list">
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__connect-item">
                                <a class="contacts__title-text contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="contacts__btn list">
            <li class="contacts__btn-item">
                <button class="contacts__btn-location btn btn_dark" data-modal-open type="button">
                    Our Locations
                </button>
            </li>
            <li class="contacts__btn-item">
                <button class="contacts__btn-franchise btn btn_light" data-modal-open type="button">
                    Franchise
                </button>
            </li>
        </ul>    
    </div>
</section>
