<!--Подвал сайта-->
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__title">        
            <p class="pre-title">homemade ice cream made</p>
            <span class="title">with passion</span>
        </div>

        <ul class="footer__links">
            <li class="footer__link-facebook">
                <a href="https://www.facebook.com" class="footer__link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-s_facebook"></use>
                    </svg>
                </a>
            </li>           

            <li class="footer__link-telegram">
                <a href="https://telegram.org" class="footer__link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-s_telegram"></use>
                    </svg>
                </a>
            </li>

            <li class="footer__link-github">
                <a href="https://github.com" class="footer__link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-s_github"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <div class="footer__contact">
            <a href="tel:+610383766284" class="footer__tel"><span class="footer__tel-feature">Feel free to contact</span> +61 (0) 383 766 284</a>
        </div>    
    </div>

    <div class="footer__copyright-box">
        <p class="footer__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>  
    </div>
</footer>
