<!--Подвал сайта-->
<footer class="footer">
    <div class="container">
        <p class="footer__title">homemade ice cream made <br>
            <span class="footer__title-feature">with passion</span>
        </p>

        <ul class="footer__link">
            <li class="footer__link-github">
                <a href="https://github.com">
                    <svg class="icon">
                        <use href="./images/icons.svg#icon-s_github"></use>
                    </svg>
                </a>
            </li>

            <li class="footer__link-telegram">
                <a href="https://telegram.org">
                    <svg class="icon">
                        <use href="./images/icons.svg#icon-s_telegram"></use>
                    </svg>
                </a>
            </li>

            <li class="footer__link-facebook">
                <a href="https://www.facebook.com">
                    <svg class="icon">
                        <use href="./images/icons.svg#icon-s_facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <a href="tel:+610383766284" class="footer__tel"><span class="footer__tel-feature"> Feel free to contact</span>+61 (0) 383 766 284</a>

        <p class="footer__copyright">&copy 2019 - IceCream. <br>
        All Rights Reserved.</p>

    </div>
</footer>
