<!--Подвал сайта-->
<footer class="footer">
    <div class="container footer__container">              
        <p class="pre-title">homemade ice cream made
            <span class="title">with passion</span>
        </p>     

        <div class="footer__box">
            <ul class="footer__links">
                <li class="footer__link-facebook">
                    <a href="https://www.facebook.com" class="footer__link" target="_blank" rel="noopener noreferrer">
                        <svg class="footer__icon">
                            <use href="./images/icons.svg#icon-s_facebook"></use>
                        </svg>
                    </a>
                </li>           

                <li class="footer__link-telegram">
                    <a href="https://telegram.org" class="footer__link" target="_blank" rel="noopener noreferrer">
                        <svg class="footer__icon">
                            <use href="./images/icons.svg#icon-s_telegram"></use>
                        </svg>
                    </a>
                </li>

                <li class="footer__link-github">
                    <a href="https://github.com" class="footer__link" target="_blank" rel="noopener noreferrer">
                        <svg class="footer__icon">
                            <use href="./images/icons.svg#icon-s_github"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <a href="tel:+610383766284" class="footer__tel">Feel free to contact<span class="footer__tel-feature"> +61 (0) 383 766 284</span></a>
        </div>
    </div>

    <div class="footer__copyright-box">
        <p class="footer__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>  
    </div>
</footer>
