<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">our galery</h2>
    <div class="galery-block__main">
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-1.webp 1x, ./images/gallery/desktop-1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-1.jpg 1x, ./images/gallery/desktop-1@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-1.webp 1x, ./images/gallery/tablet-1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-1.jpg 1x, ./images/gallery/tablet-1@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-1.webp 1x, ./images/gallery/mobile-1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-1.jpg 1x, ./images/gallery/mobile-1@2x.jpg 2x"
            />

            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="Мороженка в руке"
              tabindex="1"
            />
          </picture>
        </div>
      </div>
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-2.webp 1x, ./images/gallery/desktop-2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-2.jpg 1x, ./images/gallery/desktop-2@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-2.webp 1x, ./images/gallery/tablet-2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-2.jpg 1x, ./images/gallery/tablet-2@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-2.webp 1x, ./images/gallery/mobile-2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-2.jpg 1x, ./images/gallery/mobile-2@2x.jpg 2x"
            />
            <img class="gallery__foto galery-block__link" src="#" alt="Розовый лёд" tabindex="2" />
          </picture>
        </div>
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-3.webp 1x, ./images/gallery/desktop-3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-3.jpg 1x, ./images/gallery/desktop-3@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-3.webp 1x, ./images/gallery/tablet-3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-3.jpg 1x, ./images/gallery/tablet-3@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-3.webp 1x, ./images/gallery/mobile-3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-3.jpg 1x, ./images/gallery/mobile-3@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="Какао в стакане"
              tabindex="3"
            />
          </picture>
        </div>
      </div>
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-4.webp 1x, ./images/gallery/desktop-4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-4.jpg 1x, ./images/gallery/desktop-4@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-4.webp 1x, ./images/gallery/tablet-4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-4.jpg 1x, ./images/gallery/tablet-4@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-4.webp 1x, ./images/gallery/mobile-4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-4.jpg 1x, ./images/gallery/mobile-4@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="коктейль с печенькой"
              tabindex="4"
            />
          </picture>
        </div>
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-5.webp 1x, ./images/gallery/desktop-5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-5.jpg 1x, ./images/gallery/desktop-5@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-5.webp 1x, ./images/gallery/tablet-5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-5.jpg 1x, ./images/gallery/tablet-5@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-5.webp 1x, ./images/gallery/mobile-5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-5.jpg 1x, ./images/gallery/mobile-5@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="мороженка на палочке"
              tabindex="5"
            />
          </picture>
        </div>
      </div>
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-6.webp 1x, ./images/gallery/desktop-6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-6.jpg 1x, ./images/gallery/desktop-6@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-6.webp 1x, ./images/gallery/tablet-6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-6.jpg 1x, ./images/gallery/tablet-6@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-6.webp 1x, ./images/gallery/mobile-6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-6.jpg 1x, ./images/gallery/mobile-6@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="мороженка в вафельке"
              tabindex="6"
            />
          </picture>
        </div>
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-7.webp 1x, ./images/gallery/desktop-7@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-7.jpg 1x, ./images/gallery/desktop-7@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-7.webp 1x, ./images/gallery/tablet-7@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-7.jpg 1x, ./images/gallery/tablet-7@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-7.webp 1x, ./images/gallery/mobile-7@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-7.jpg 1x, ./images/gallery/mobile-7@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="мороженый десерт"
              tabindex="7"
            />
          </picture>
        </div>
      </div>
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-8.webp 1x, ./images/gallery/desktop-8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-8.jpg 1x, ./images/gallery/desktop-8@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-8.webp 1x, ./images/gallery/tablet-8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-8.jpg 1x, ./images/gallery/tablet-8@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-8.webp 1x, ./images/gallery/mobile-8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-8.jpg 1x, ./images/gallery/mobile-8@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="много мороженки"
              tabindex="8"
            />
          </picture>
        </div>
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-9.webp 1x, ./images/gallery/desktop-9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-9.jpg 1x, ./images/gallery/desktop-9@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-9.webp 1x, ./images/gallery/tablet-9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-9.jpg 1x, ./images/gallery/tablet-9@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-9.webp 1x, ./images/gallery/mobile-9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-9.jpg 1x, ./images/gallery/mobile-9@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="пес лижет мороженку"
              tabindex="9"
            />
          </picture>
        </div>
      </div>
      <div class="galery-block__group">
        <div class="galery-block__content">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-10.webp 1x, ./images/gallery/desktop-10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/desktop-10.jpg 1x, ./images/gallery/desktop-10@2x.jpg 2x"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-10.webp 1x, ./images/gallery/tablet-10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/tablet-10.jpg 1x, ./images/gallery/tablet-10@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-10.webp 1x, ./images/gallery/mobile-10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/mobile-10.jpg 1x, ./images/gallery/mobile-10@2x.jpg 2x"
            />
            <img
              class="gallery__foto galery-block__link"
              src="#"
              alt="девушка с мороженкой"
              tabindex="10"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
