<header class="header">
  <div class="container">
    <!-- логотип -->
    <div class="header__content">
      <a href="index.html" class="header__logo">
        <picture class="header__logo-img">
          <source
            srcset="../src/images/logo/logo.webp 1x, ../src/images/logo/logo@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="../src/images/logo/logo.png 1x, ../src/images/logo/logo@2x.png 2x" />
          <img
            class="header__logo-img"
            src="../src/images/logo/logo.png"
            alt="Logo of company"
            width="199"
            height="50"
          />
        </picture>
      </a>
      <!--  меню десктопа и таблетки -->
      <nav class="header__menu-nav">
        <ul class="header__menu-links">
          <li class="header__menu-item">
            <a href="#hero" class="menu__link">Home</a>
          </li>
          <li class="header__menu-item">
            <a href="#our-products" class="menu__link">Our products</a>
          </li>
          <li class="header__menu-item">
            <a href="#about-us" class="menu__link">How it`s made?</a>
          </li>
          <li class="header__menu-item">
            <a href="#advantages" class="menu__link">About us</a>
          </li>
          <li class="header__menu-item">
            <a href="#contacts" class="menu__link">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- контейнер кнопок вызова меню и кнопки заказа-->
      <div class="header__burger-and-btn">
        <!--  кнопка вызова меню -->
        <button class="header__open-close-menu-btn js-open-modal" data-modal="1">
          <svg class="header__open-close-menu">
            <use href="../src/images/icons.svg#icon-burger" class="header__burger"></use>
          </svg>
        </button>
        <!--  кнопка заказа -->
        <button class="header__order-button btn btn_light js-open-modal" data-modal="3">
          By now
          <svg class="menu__button-icon">
            <use href="../src/images/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- мобильное меню -->
<div class="menu modal" data-modal="1">
  <!--  кнопка закрытия мобильного меню -->
  <button class="modal-window__close-btn">
      <svg class="menu__close-menu js-modal-close">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
  </button>

  <!--  кнопка заказа в мобильном меню -->
  <button class="menu__button btn btn_light js-open-modal" data-modal="3">
    By now
    <svg class="menu__button-icon">
      <use href="../src/images/icons.svg#icon-right"></use>
    </svg>
  </button>

  <!--  мобильное меню -->
  <nav class="menu__nav">
    <ul class="menu__links">
      <li class="menu__item">
        <a href="#hero" class="menu__link current js-modal-close">Home</a>
      </li>
      <li class="menu__item">
        <a href="#our-products" class="menu__link js-modal-close">Our products</a>
      </li>
      <li class="menu__item">
        <a href="#about-us" class="menu__link js-modal-close">How it`s made?</a>
      </li>
      <li class="menu__item">
        <a href="#advantages" class="menu__link js-modal-close">About us</a>
      </li>
      <li class="menu__item">
        <a href="#contacts" class="menu__link js-modal-close">Contact</a>
      </li>
    </ul>
  </nav>
</div>
