<section>
  <div class="hero container">
    <div class="hero-thumb">
      <h1 class="hero-title title">
        <p class="hero-pretitle">
          ice cream <br />
          made with
        </p>
        passion
      </h1>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <a class="btn btn_dark hero-btn" href="#products">Products</a>
        </li>
        <li class="hero-btn-item">
          <a class="btn btn_light hero-btn" href="#about">How it’s made?</a>
        </li>
      </ul>
    </div>
    <ul class="hero-right-part">
      <li class="hero-right-part-item">
        16
        <p class="hero-text">cafes</p>
      </li>
      <li class="hero-right-part-item">
        23
        <p class="hero-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
