<section class="hero-section" id="hero">
  <div class="hero container">
    <div class="hero-thumb">
      <h1 class="hero-title title">
        ice cream <br />
        made with

        <br />
        <span class="hero-title-accent">passion</span>
      </h1>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <a class="btn btn_dark hero-btn" href="#our-products">Products</a>
        </li>
        <li class="hero-btn-item">
          <a class="btn btn_light hero-btn" href="#about-us">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-describe hero-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <a href="" class="hero-round-btn js-open-modal" data-modal="201">
          <svg width="8" height="8">
            <use href="/images/icons.svg#icon-rightarrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="hero-right-part">
      <li class="hero-right-part-item">
        16
        <p class="hero-text">cafes</p>
      </li>
      <li class="hero-right-part-item">
        23
        <p class="hero-text">food trucks</p>
      </li>
    </ul>

    <img
      class="hero-icecream-p1 hero-icecream-element"
      src="/images/hero/anim/1.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p2 hero-icecream-element"
      src="/images/hero/anim/2.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p3 hero-icecream-element"
      src="/images/hero/anim/3.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p4 hero-icecream-element"
      src="/images/hero/anim/4.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p5 hero-icecream-element"
      src="/images/hero/anim/5.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p6 hero-icecream-element"
      src="/images/hero/anim/6.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p7 hero-icecream-element"
      src="/images/hero/anim/7.png"
      alt="animared part of icecream"
    />

    <picture class="hero-icecream-pic">
      <source
        media="(min-width: 1280px)"
        srcset="
          /images/hero/hero-icecream-desktop.png    1x,
          /images/hero/hero-icecream-desktop@2x.png 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /images/hero/hero-icecream-tablet.png    1x,
          /images/hero/hero-icecream-tablet@2x.png 2x
        "
      />

      <source
        srcset="
          /images/hero/hero-icecream-mobile.png    1x,
          /images/hero/hero-icecream-mobile@2x.png 2x
        "
      />
      <img src="/images/hero/hero-icecream-mobile.png" alt="jug of milk" />
    </picture>

    <picture class="hero-milk-pic">
      <source
        media="(min-width: 1280px)"
        srcset="/images/hero/hero-milk-desktop.png 1x, /images/hero/hero-milk-desktop@2x.png 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="/images/hero/hero-milk-tablet.png 1x, /images/hero/hero-milk-tablet@2x.png 2x"
      />
      <img src="/images/hero/hero-milk-tablet.png" alt="jug of milk" />
    </picture>

    <picture class="hero-girl-pic">
      <source
        media="(min-width: 1280px)"
        srcset="/images/hero/hero-girl-desktop.png 1x, /images/hero/hero-girl-desktop@2x.png 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="/images/hero/hero-girl-tablet.png 1x, /images/hero/hero-girl-tablet@2x.png 2x"
      />
      <img src="/images/hero/hero-girl-tablet.png" alt="girl tastes ice cream" />
    </picture>
    <p class="picture-text title">soooooo <br />tasty!</p>
  </div>
</section>
