<section class="hero-section">
  <div class="hero container">
    <div class="hero-thumb">
      <h1 class="hero-title title">
        <span class="hero-pretitle">
          ice cream <br />
          made with </span
        ><br />
        passion
      </h1>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <a class="btn btn_dark hero-btn" href="#products">Products</a>
        </li>
        <li class="hero-btn-item">
          <a class="btn btn_light hero-btn" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-describe hero-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <a href="" class="hero-round-btn">
          <svg width="8" height="8">
            <use href="/images/icons.svg#icon-rightarrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="hero-right-part">
      <li class="hero-right-part-item">
        16
        <p class="hero-text">cafes</p>
      </li>
      <li class="hero-right-part-item">
        23
        <p class="hero-text">food trucks</p>
      </li>
    </ul>

    <picture class="hero-milk-pic">
      <source
        media="(min-width: 1280px)"
        srcset="/images/hero-milk-desktop.png 1x, /images/hero-milk-desktop@2x.png 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="/images/hero-milk-tablet.png 1x, /images/hero-milk-tablet@2x.png 2x"
      />
      <img />
    </picture>

    <picture class="hero-girl-pic">
      <source
        media="(min-width: 1280px)"
        srcset="/images/hero-girl-desktop.png 1x, /images/hero-girl-desktop@2x.png 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="/images/hero-girl-tablet.png 1x, /images/hero-girl-tablet@2x.png 2x"
      />
      <img />
    </picture>
  </div>
</section>
