<div class="modal about-modal" data-modal="4">
  <p class="about-text about-text__modal">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
    Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan. Fusce ut velit laoreet,
    tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla. Fusce ut velit laoreet, tempus arcu eu, molestie
    tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <button class="modal-window__close-btn">
      <svg class="close-modal js-modal-close">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
  </button>
</div>
