<section id="our-products" class="container products">
  <p class="products__pretitle pre-title">100% natural</p>
  <h2 class="products__title title">products</h2>
  <ul class="products_list">
    <li class="products__item products__item--background1">
      <a href="#" class="products__link">
        <div class="products__link--img"></div>
        <div class="products__link--form">
          <h3 class="products__link--title">ice cream</h3>
          <p class="products__link--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div></a
      ><button class="products__btn btn_light" type="button">
        <svg class="btn__svg">
          <use href="/images/arrow-right.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>
    <li class="products__item products__item--background2">
      <a href="#" class="products__link">
        <div class="products__link--img"></div>
        <div class="products__link--form">
          <h3 class="products__link--title">ice coffee</h3>
          <p class="products__link--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div></a
      ><button class="products__btn btn_light" type="button">
        <svg class="btn__svg">
          <use href="/images/arrow-right.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>
    <li class="products__item products__item--background3">
      <a href="#" class="products__link">
        <div class="products__link--img"></div>
        <div class="products__link--form">
          <h3 class="products__link--title">milkshakes</h3>
          <p class="products__link--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div></a
      ><button class="products__btn btn_light" type="button">
        <svg class="btn__svg">
          <use href="/images/arrow-right.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
