<section class="products" id="our-products">
  <div class="container">
    <p class="products__pretitle pre-title">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products_list">
      <li class="products__item products__item--background1">
        <div class="products__item--form">
          <h3 class="products__item--title">ice cream</h3>
          <span class="products__dots"></span>
          <p class="products__item--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="products__btn btn_light js-open-modal" type="button" data-modal="201">
          <svg class="btn__svg">
            <use href="/images/icons.svg#icon-rightarrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--background2">
        <div class="products__item--form">
          <h3 class="products__item--title">ice coffee</h3>
          <span class="products__dots"></span>
          <p class="products__item--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="products__btn btn_light js-open-modal" type="button" data-modal="202">
          <svg class="btn__svg">
            <use href="/images/icons.svg#icon-rightarrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--background3">
        <div class="products__item--form">
          <h3 class="products__item--title">milkshakes</h3>
          <span class="products__dots"></span>
          <p class="products__item--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="products__btn btn_light js-open-modal" type="button" data-modal="203">
          <svg class="btn__svg">
            <use href="/images/icons.svg#icon-rightarrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="modal products-modal" data-modal="201">
    <p class="products-text products-text__modal">
      Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made
      from dairy milk or cream and is flavoured with a sweetener, either sugar or an alternative,
      and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches. It can
      also be made by whisking a flavored cream base and liquid nitrogen together. Colorings are
      sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of
      water and stirred to incorporate air spaces and to prevent detectable ice crystals from
      forming.
    </p>
    <button class="modal-window__close-btn">
      <svg class="close-modal-prod js-modal-close">
        <use href="../src/images/cross.svg#cross"></use>
      </svg>
    </button>
  </div>
  <div class="modal products-modal" data-modal="202">
    <p class="products-text products-text__modal">
      Iced coffee is a coffee beverage served cold. It may be prepared either by brewing coffee in
      the normal way and then serving it over ice or in cold milk, or by brewing the coffee cold. In
      hot brewing, sweeteners and flavoring may be added before cooling, as they dissolve faster.
      Iced coffee can also be sweetened with pre-dissolved sugar in water. Pre-packaged iced coffee
      is available as a grocery item in several countries, though without ice. Iced coffee is also
      regularly available in most coffee shops.
    </p>
    <button class="modal-window__close-btn">
      <svg class="close-modal-prod js-modal-close">
        <use href="../src/images/cross.svg#cross"></use>
      </svg>
    </button>
  </div>
  <div class="modal products-modal" data-modal="203">
    <p class="products-text products-text__modal">
      A milkshake is a sweet drink made by blending milk, ice cream, and flavorings or sweeteners
      such as butterscotch, caramel sauce, chocolate syrup, fruit syrup, or whole fruit into a
      thick, sweet, cold mixture. It may also be made using a base made from non-dairy products,
      including plant milks such as almond milk, coconut milk, or soy milk. Milkshakes originated in
      the United States around the turn of the 20th century, and grew in popularity following the
      introduction of electric blenders in the subsequent two decades.
    </p>

    <button class="modal-window__close-btn">
      <svg class="close-modal-prod js-modal-close">
        <use href="../src/images/cross.svg#cross"></use>
      </svg>
    </button>
  </div>
</section>
