<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="reviews__photo" src="./images/gallery/desktop-1.jpg" alt="" />
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="reviews__dots"></span>
          <a class="reviews__link" href="#">Emily, Los Angeles</a>
        </div>
        <div class="swiper-slide">
          <img class="reviews__photo" src="./images/gallery/desktop-1.jpg" alt="" />
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="reviews__dots"></span>
          <a class="reviews__link" href="#" target="_blank" rel="noopener noreferrer"
            >Emily, Los Angeles</a
          >
        </div>
      </div>
      <div class="swiper-pagination reviews__pagination"></div>
    </div>
  </div>
</section>
