.btn {
  border: none;
  border-radius: 22px;
  height: 44px;

  padding-left: 22px;
  padding-right: 22px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3px;
}

.btn_dark {
  background-color: var(--brand-color);
  color: var(--white-text-color);
  transition: color 250ms linear, background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--dark-btn-hover);
  }
}

.btn_light {
  background-color: var(--white-text-color);
  color: var(--brand-color);
  transition: color 250ms linear, background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--light-btn-hover);
  }
}
