.backdrop {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.close-modal {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.modal-order {
  /* Скрываем окна  */
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 3px;
  background-color: #f5d02b;
  transition: 0.3s all;

  @media (min-width: 480px) {
    width: 450px;
  }
  @media (min-width: 768px) and(max-width:1280px) {
    width: 450px;
    height: 709px;
  }
  @media (min-width: 1280px) {
    width: 528px;
    height: 681px;
  }
}

.menu__close-menu {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для активных классов подложки и окна */

.modal-order.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Стили для кнопки закрытия */

.modal-window__content {
  padding: 40px;
}

.modal-window__message {
  font-family: 'DM Sans', sans-serif;
  color: var(--light-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
}

@media screen and(max-width:480px) {
  .modal-window__content {
    padding: 8.3vw;
  }
  .modal-window__message {
    text-align: center;
    font-size: 4.2vw;
    line-height: 1.15;
    margin-bottom: 2.5vw;
  }
}

.modal-window__form {
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-window__form + .modal-window__form {
  margin-top: 10px;
}

.modal-window__input {
  background-color: #f5d02b;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid #2196f3;
  }
  &:focus ~ .modal-window__icon,
  &:hover ~ .modal-window__icon {
    fill: var(--hover-web-color);
  }
}

.modal-window__agree {
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 700;
}

.modal-window__link {
  color: var(--brand-color);
}

.modal-window__agreement {
  margin-bottom: 30px;
}

.menu__button-submit {
  display: block;
  margin: 0 auto 0 auto;
}

.modal-window__call {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: green;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

.modal-window__price {
  display: inline-block;
  color: green;
  font-size: 1.5rem;
  font-family: Titan One;
}

.modal-window__icecream-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-window__name-icecream {
  font-size: 1.5rem;
  font-family: Titan One;
  color: green;
  letter-spacing: 0.1rem;
}

/* настройка блока выбора мороженного */
