.section-about {
  padding-top: 125px;
  background-color: #fff5f6;
  background-image: url('../images/milk/milk-m.png');

  background-position: 0% 93%;

  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 39px;
}

.pre-title__about {
  margin-bottom: 15px;
  text-align: center;
}
.title__about {
  margin-bottom: 26px;
  text-align: center;
}
.about-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}
.about-text__pre {
  color: #000;
  margin-bottom: 47px;
}
.about-text__main {
  color: #907e82;
  margin-bottom: 17px;
}
.btn-readmore-icon {
  margin-left: 13px;
}
.about-image__main {
  margin: 0 auto;
}
