.section-about {
  padding-top: 125px;
  background-color: var(--background-color);
  background-image: url('../images/milk/milk-m.png');

  background-position: 0% 93%;

  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 39px;
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 66px;
    padding-top: 189px;
    background-image: none;
  }
  @media screen and(min-width: 1200px) {
    background-image: url('../images/milk/milk-d.png');
    background-position: 0% 150%;
  }
}
.about__block {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}

.pre-title__about {
  margin-bottom: 15px;
  text-align: center;
}
.title__about {
  margin-bottom: 26px;
  text-align: center;
  @media screen and(min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 55px;
  }
}
.about-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}
.about-text__pre {
  color: var(--dark-text-color);
  margin-bottom: 47px;
  @media screen and(min-width: 768px) {
    margin-top: 50px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and(min-width: 1200px) {
    margin-top: 51px;
    font-size: 16px;
    line-height: 1.76;
  }
}
.about-text__main {
  color: var(--light-text-color);
  margin-bottom: 17px;
  @media screen and(min-width: 768px) {
    margin-bottom: 62px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.94;
  }
}
.about-text__cont {
  @media screen and(min-width: 768px) {
    width: 50%;
    margin-left: 17px;
  }
  @media screen and(min-width: 1200px) {
    width: 50%;
    margin-left: 74px;
  }
}
.btn-readmore-icon {
  margin-left: 13px;
}
.about__picture {
  @media screen and(min-width: 768px) {
    width: 50%;
  }
}
.about-image__main {
  margin: 0 auto;
}
.about-modal {
  background-color: var(--pink-background-color);
}
