.advantages {
  background-color: var(--background-color);
  padding-bottom: 97px;
}

.advantages__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.advantages__label {
  margin-bottom: 15px;
  font-family: Titan One;

  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--brand-color);
}

.advantages-svg-one::before {
  content: '';
  margin-bottom: 10px;
  display: block;

  width: 50px;
  height: 50px;
  background-image: url(.././images/gallery/milk-ice1.svg);
  background-repeat: no-repeat;

  background-size: auto 50px;
}
.advantages-svg-two::before {
  content: '';
  margin-bottom: 10px;
  display: block;

  width: 50px;
  height: 50px;
  background-image: url(.././images/gallery/milk-ice2.svg);
  background-repeat: no-repeat;

  background-size: auto 50px;
}
.advantages-svg-three::before {
  content: '';
  margin-bottom: 10px;
  display: block;

  width: 50px;
  height: 50px;
  background-image: url(.././images/gallery/milk-ice3.svg);
  background-repeat: no-repeat;

  background-size: auto 50px;
}

.advantages__content {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  max-width: 230px;

  color: var(--dark-text-color);
}
