.hero-section {
  background-color: var(--pink-background-color);
}

.hero {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 502px;
  background-image: url(/images/hero-icecream-mobile.png),
    radial-gradient(circle at 172px 172px, var(--light-brand-color) 172px, transparent 172px);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/hero-icecream-mobile@2x.png),
      radial-gradient(circle at 172px 172px, var(--light-brand-color) 172px, transparent 172px);
    background-size: 171px 410px, auto;
  }
  background-position: 117px bottom, 36px 83px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 399px;
    background-image: url(/images/hero-icecream-tablet.png),
      radial-gradient(circle at 162px 162px, var(--light-brand-color) 162px, transparent 162px);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-icecream-tablet@2x.png),
        radial-gradient(circle at 162px 162px, var(--light-brand-color) 162px, transparent 162px);
      background-size: 143px 336px, auto;
    }
    background-position: 378px bottom, 307px 31px;
  }

  @media screen and (min-width: 1280px) {
    height: 665px;
    background-image: url(/images/hero-icecream-desktop.png),
      radial-gradient(circle at 269px 269px, var(--light-brand-color) 269px, transparent 269px);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-icecream-desktop@2x.png),
        radial-gradient(circle at 269px 269px, var(--light-brand-color) 269px, transparent 269px);
      background-size: 236px 557px, auto;
    }
    background-position: 594px bottom, 475px 52px;
  }
}
.hero-title {
  padding-top: 193px;
  font-size: 26px;
  color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    padding-top: 102px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    padding-top: 171px;
  }
}
.hero-title-accent {
  font-size: 48px;
  color: var(--brand-color);
  line-height: 0.97;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
.hero-btn-list {
  display: flex;
}
.hero-btn-item {
  &:first-child {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}
.hero-btn {
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: 20px;
  font-size: 8px;
  padding-left: 13px;
  padding-right: 13px;

  @media screen and (min-width: 1280px) {
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.hero-describe {
  display: none;
  width: 114px;
  margin-left: 120px;
  margin-top: 66px;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-left: 180px;
    margin-top: 112px;
  }
}
.hero-round-btn {
  display: flex;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  background-color: var(--white-background-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--brand-color);
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero-right-part {
  display: none;
  padding-top: 94px;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  text-align: right;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 156px;
    font-size: 46px;
  }
}
.hero-right-part-item {
  position: relative;
  z-index: 1;
  &:first-child {
    margin-bottom: 15px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 18px;
    }
  }
  &::after {
    content: '';
    display: block;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: -10px;
    top: -2px;

    @media screen and (min-width: 1280px) {
      height: 30px;
      width: 30px;
      right: -16px;
      top: -7px;
    }
  }
}

.hero-text {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
.hero-milk-pic {
  display: none;
  position: absolute;
  left: 34px;
  top: 245px;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    left: 77px;
    top: 429px;
  }
}
.hero-girl-pic {
  display: none;
  position: absolute;
  left: 566px;
  bottom: 0;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    left: 878px;
  }
}
