.products {
  padding-top: 121px;
  padding-bottom: 96px;
  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
  }
}

.products__pretitle {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__title {
  margin-bottom: 144px;
  text-align: center;
  font-size: 34px;
  line-height: 1.15;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
  }
}
.products_list {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.products__item {
  text-align: center;
  border-radius: 24px;
  position: relative;
  padding-top: 161px;
  padding-right: 53px;
  padding-bottom: 41px;
  padding-left: 53px;
  @media screen and (min-width: 320px) {
    width: 280px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
    padding-top: 152px;
    padding-right: 11px;
    padding-bottom: 40px;
    padding-left: 11px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
    padding-top: 163px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 130px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.products__item::before {
  display: block;
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25%;
  width: 249px;
  height: 252px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 233px;
  }
  @media screen and (min-width: 1280px) {
    top: -40%;
    width: 335px;
    height: 335px;
  }
}

.products__item--background1 {
  background-color: var(--pink-background-color);
}
.products__item--background2 {
  background-color: var(--brown-background-color);
}
.products__item--background3 {
  background-color: var(--green-background-color);
}

.products__item--background1::before {
  background-image: url('/images/products/product1-m.png');
  @media screen and (min-width: 768px) {
    background-image: url('/images/products/product1-t.png');
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/images/products/product1-d.png');
  }
}
.products__item--background2::before {
  background-image: url('/images/products/product2-m.png');

  @media screen and (min-width: 768px) {
    background-image: url('/images/products/product2-t.png');
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/images/products/product2-d.png');
  }
}

.products__item--background3::before {
  background-image: url('/images/products/product3-m.png');
  @media screen and (min-width: 768px) {
    background-image: url('/images/products/product3-t.png');
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/images/products/product3-d.png');
  }
}

.products__item--form {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}
.products__item--title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-background-color);
  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__dots {
  margin: 0 auto 18px;
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--white-text-color);
}
.products__dots::before,
.products__dots::after {
  width: 4px;
  height: 4px;
  display: block;
  content: '';
  position: absolute;
  border-radius: inherit;
  background-color: inherit;
}

.products__dots::before {
  left: -10px;
}

.products__dots::after {
  right: -10px;
}

.products__item--text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-background-color);

  @media screen and (min-width: 768px) {
    width: 198px;
    height: 124px;
    line-height: 1.76;
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    width: 241px;
    height: 106px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.products__btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: none;
}

.btn__svg {
  padding: 0;
  width: 20px;
  height: 10px;

  fill: var(--brand-color);
}

.products-modal {
  visibility: hidden;
  opacity: 0;
  transition: 0.8s all;
  background-image: url('../images/products/1.png');
  background-size: auto;
  background-color: rgba($color: hsl(175, 69%, 87%), $alpha: 1);
  // background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 370px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 50;

  @media screen and(min-width: 768px) {
    padding: 35px;
    max-width: 450px;
    height: 500px;
  }

  @media screen and(min-width: 1280px) {
    max-width: 450px;
    height: 550px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.close-modal-prod {
  width: 25px;
  height: 25px;

  top: 20px;
  right: 20px;
  fill: var(--dark-text-color);
  cursor: pointer;
}

.products-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.58;
}
.products-text__modal {
  padding-top: 15px;
  color: var(--brand-color);

  @media screen and(min-width: 768px) {
    font-size: 16px;
    line-height: 1.76;
  }
  @media screen and(min-width: 1280px) {
    font-size: 17px;
    line-height: 1.94;
  }
}
