.reviews__photo {
  margin: 0 auto 29px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.reviews__text {
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--dark-text-color);
  // background: repeating-linear-gradient(
  //   180deg,
  //   #e1e1e1 0,
  //   transparent 1px,
  //   transparent 30px,
  //   #e1e1e1 0,
  //   #e1e1e1 31px
  // );
  // background-position: center bottom 3px;
}

.reviews__text::before {
  width: 54px;
  height: 40px;
  display: block;
  z-index: -1;
  content: '';
  position: absolute;
  top: 28px;
  left: 61px;
  background: url(../images/quotes.svg) no-repeat;
}

.reviews__dots {
  margin: 0 auto 18px;
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  position: relative;

  background-color: var(--dark-btn-hover);
}

.reviews__dots::before,
.reviews__dots::after {
  width: 4px;
  height: 4px;
  display: block;
  content: '';
  position: absolute;
  border-radius: inherit;
  background-color: inherit;
}

.reviews__dots::before {
  left: -14px;
}

.reviews__dots::after {
  right: -14px;
}
//сократить повторение кода
.reviews__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--dark-text-color);
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.reviews__pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--pagination-bullet-color);
}

.swiper-pagination-bullet-active {
  background: url(../images/pagination-active.svg);
  border-radius: 0;
}
